<!DOCTYPE html>
<!--
Copyright Glen Knowles 2022 - 2024.
Distributed under the Boost Software License, Version 1.0.

about-counters.html - dim webapp
-->
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no"/>
<script src="initialize.js"></script>
<script src="../initapp.js"></script>
<script src="about-common.js"></script>
<script src="/srv/about/counters.json?jsVar=srvdata&pretty=1"></script>
<script>
addOpts({
  computed: {
    sortedCounters() {
      const pageSize = 25
      // Returns array of 'pages' where each page is an array of up to pageSize
      // counter objects with name and value.
      let arr = [];
      for (let name in this.counters) {
        let val = this.counters[name]
        arr.push({
          name: name,
          value: Number.isInteger(val)
            ? val.toLocaleString()
            : val.toLocaleString(undefined, {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
              })
        })
      }
      arr.sort((a, b) => {
        let rc = a.name.includes('.') - b.name.includes('.')
        if (rc != 0)
          return rc
        return (a.name < b.name) ? -1 : (a.name == b.name) ? 0 : 1
      })
      return makePages(arr, pageSize)
    },
  },
})
</script>
</head>
<body>
<div id="app" style="visibility: hidden">
  <script>aboutIntro('Counters')</script>

  <div class="container-fluid mt-2">
    <h3>Performance Counters</h3>
    <div class="row gx-3 sort-group">
      <template v-for="page in sortedCounters">
        <div class='col-auto'>
          <table>
            <tr>
              <th class="sortable">Value</th>
              <th class="sortable">Name</th>
            </tr>
            <tr v-for="cnt in page" :class="{
              'bg-disabled': cnt.value == '0' || cnt.value == '0.000'
            }">
              <td class='text-end'>{{ cnt.value }}</td>
              <td class='text-nowrap'>{{ cnt.name }}</td>
            </tr>
          </table>
        </div>
      </template>
    </div>
    <table>
      <tr><td>Has a non-zero value</td></tr>
      <tr class='bg-disabled'><td>Value is zero</td></tr>
    </table>
  </div>
</div>

<script>finalize()</script>
</body>
</html>
