<!DOCTYPE html>
<!--
Copyright Glen Knowles 2022.
Distributed under the Boost Software License, Version 1.0.

about-account.html - dim webapp
-->
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no"/>
<script src="initialize.js"></script>
<script src="../initapp.js"></script>
<script src="about-common.js"></script>
<script src="/srv/about/account.json?jsVar=srvdata"></script>
<script>
function makeGroupPages(groups, pageSize) {
  let arr = groups
  arr.sort((a, b) => {
    if (a.type != b.type)
      return (a.type < b.type) ? -1 : 1
    if (a.name != b.name)
      return (a.name < b.name) ? -1 : 1
    return 0
  })
  return makePages(arr, pageSize)
}

addOpts({
  computed: {
    sortedGroups() {
      return makeGroupPages(this.groups, 25)
    },
    sortedRestrictedGroups() {
      return makeGroupPages(this.restrictedGroups, 25)
    },
    sortedPrivileges() {
      let arr = this.privileges
      arr.sort((a, b) => {
        return a.name == b.name
          ? 0
          : a.name < b.name ? -1 : 1
      })
      return makePages(arr, 25)
    }
  },
  components: {
    "group-table": {
      data() { return {} },
      props: ['groups'],
      template: "#draw-group-table"
    }
  },
})
</script>

<template id="draw-group-table">
  <div class="row gx-3">
    <template v-for="page in groups">
      <div class='col-auto'>
        <table>
          <tr>
            <th class="sortable">Type</th>
            <th class="sortable">Name</th>
            <th class="sortable">Domain</th>
            <th class="sortable">Attributes</th>
          </tr>
          <tr v-for="prin in page">
            <td>{{ prin.type }}</td>
            <td :title="prin.sid">{{ prin.name }}</td>
            <td class="text-nowrap">{{ prin.domain }}</td>
            <td>
              <template v-for="(attr, index) in prin.attrs">
                <template v-if="index > 0">, </template>
                {{ attr }}
              </template>
            </td>
          </tr>
        </table>
      </div>
    </template>
  </div>
</template>
</head>
<body>
<div id="app" style="visibility: hidden">
  <script>aboutIntro('Account')</script>

  <div class="container-fluid mt-2">
    <h3>Account</h3>
    <div class="row">
    <div class="col-auto">
    <dl class="mt-0">
      <dt>Name</dt>
      <dd>{{user.name}}</dd>
      <dt>Domain</dt>
      <dd>{{user.domain}}</dd>
    </dl>
    </div>
    </div>

    <h3>Groups</h3>
    <group-table :groups="sortedGroups"></group-table>

    <template v-if="this.restrictedGroups.length > 0">
      <h3>Restricted Groups</h3>
      <group-table :groups="sortedRestrictedGroups"></group-table>
    </template>

    <h3>Privileges</h3>
    <div class="row gx-3">
      <template v-for="page in sortedPrivileges">
        <div class="col-auto">
          <table>
            <tr>
              <th class="sortable">Name</th>
              <th class="sortable">Attributes</th>
            </tr>
            <tr v-for="priv in page">
              <td>{{ priv.name }}</td>
              <td>
                <template v-for="(attr, index) in priv.attrs">
                  <template v-if="index > 0">, </template>
                  {{ attr }}
                </template>
              </td>
            </tr>
          </table>
        </div>
      </template>
    </div>
  </div>
</div>

<script>finalize()</script>
</body>
</html>
