<!DOCTYPE html>
<!--
Copyright Glen Knowles 2022.
Distributed under the Boost Software License, Version 1.0.

file-crashes.html - dim webapp
-->
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<script src="initialize.js"></script>
<script src="file-common.js"></script>
<script src="/srv/file/crashes.json?jsVar=srvdata"></script>
<script>
addOpts({
  computed: {
    sortedFiles() {
      const pageSize = 25
      // Returns array of 'pages' where each page is an array of up to pageSize
      // objects.
      let arr = this.files
      arr.sort((a, b) => { 
        if (a.mtime > b.mtime)
          return -1
        if (a.mtime < b.mtime)
          return 1
        if (a.name < b.name)
          return -1
        if (a.name > b.name)
          return 1
        return 0
      })
      return makePages(arr, pageSize)
    },
  },
})
</script>
</head>
<body>
<div id="app" style="visibility: hidden">
  <script>fileIntro('Crashes')</script>

  <div class="container-fluid mt-2">
    <div class="row gx-3">
      <template v-if="sortedFiles.length == 0">
        <div class="col-auto">
          No crash files.
        </div>
      </template>
      <template v-for="page in sortedFiles">
        <div class='col-auto'>
          <table>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Age</th>
            </tr>
            <tr v-for="val in page">
              <td style='white-space: nowrap'>
                <a :href="'/srv/file/crashes/' + (val.name)">
                  {{ val.name }}
                </a>
              </td>
              <td>{{val.size}}</td>
              <td>{{readableDuration(elapsedTime(val.mtime))}}</td>
            </tr>
          </table>
        </div>
      </template>
    </div>
  </div>
</div>

<script>finalize()</script>
</body>
</html>
