<!DOCTYPE html>
<!--
Copyright Glen Knowles 2022.
Distributed under the Boost Software License, Version 1.0.

file-crashes.html - dim webapp
-->
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no"/>
<script src="initialize.js"></script>
<script src="../initapp.js"></script>
<script src="file-common.js"></script>
<script src="/srv/file/crashes.json?jsVar=srvdata"></script>
<script>
addOpts({
  computed: {
    sortedFiles() {
      const pageSize = 25
      // Returns array of 'pages' where each page is an array of up to pageSize
      // objects.
      let arr = this.files
      arr.sort((a, b) => {
        if (a.mtime > b.mtime)
          return -1
        if (a.mtime < b.mtime)
          return 1
        return a.name.localeCompare(b.name)
      })
      return makePages(arr, pageSize)
    },
  },
})
</script>
</head>
<body>
<div id="app" style="visibility: hidden">
  <script>fileIntro('Crashes')</script>

  <div class="container-fluid mt-2">
    <h3>Crash Files</h3>
    <div class="row gx-3">
      <template v-if="sortedFiles.length == 0">
        <div class="col-auto">
          No crash files.
        </div>
      </template>
      <template v-for="page in sortedFiles">
        <div class='col-auto'>
          <table>
            <tr>
              <th class="sortable">Name</th>
              <th class="sortable">Size</th>
              <th class="sortable">Last Modified</th>
            </tr>
            <tr v-for="val in page" :class="ageClass(val.mtime)">
              <td class='text-nowrap'>
                <a :href="'/srv/file/crashes/' + (val.name)">
                  {{ val.name }}
                </a> <i class="bi-box-arrow-down"/>
              </td>
              <td class='text-end'>{{val.size.toLocaleString()}}</td>
              <td>{{val.mtime + ' (' + readableAge(val.mtime) + ')'}}</td>
            </tr>
          </table>
        </div>
      </template>
    </div>
    <table v-if="sortedFiles.length > 0">
      <tr><td>Modified within the last hour</td></tr>
      <tr class='bg-recent'><td>Modified within 24 hours</td></tr>
      <tr class='bg-old'><td>More than 24 hours since last modified</td></tr>
    </table>
  </div>
</div>

<script>finalize()</script>
</body>
</html>
