/*
Copyright Glen Knowles 2022.
Distributed under the Boost Software License, Version 1.0.

groupTypes.css - dim webapp
*/

/****************************************************************************
*
*   Group type 'local'
*
***/

.groupType-local table th {
    background-color: #0d6efd;
    border-color: black;
    color: #f8f9fa;
}

.groupType-local .bg-groupType {
    background-color: #e6faff;
}
