/*
Copyright Glen Knowles 2022.
Distributed under the Boost Software License, Version 1.0.

init.css - dim webapp
*/


.bg-selected {
    background-color: lightgrey;
}
.disabled {
    background-color: lightgrey;
}
.recent {
    background-color: #D3FED8;
}
.old {
    background-color: lightgreen;
}
.invalid {
    background: repeating-linear-gradient(
        135deg,
        transparent,
        transparent 5px,
        lightgray 5px,
        lightgray 7px
    );
}

table {
    margin: 10px 0px;
}
table th {
    border: 1px solid;
    padding: 0px 10px;
    text-align: center;
}
table td {
    border: 1px solid;
    padding: 0px 10px;
}
table th.table-sort-asc::after {
    content: " \f148";
    font-family: bootstrap-icons !important;
    line-height: 1;
    vertical-align: -.125em;
    opacity: 0.5;
}
table th.table-sort-desc::after {
    content: " \f128";
    font-family: bootstrap-icons !important;
    line-height: 1;
    vertical-align: -.125em;
    opacity: 0.5;
}
table th.table-sort-active::after {
    opacity: 1;
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 0px 10px 10px;
}
dt {
    text-align: right;
    margin: 0px 0px 0px 10px;
}
dd {
    margin: 0px 0px 0px 10px;
}
