<!--
Copyright Glen Knowles 2022.
Distributed under the Boost Software License, Version 1.0.

navbar.html - dim webapp
-->
<nav class="navbar navbar-expand-sm stick-top bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bolder" href="/">
      <span style="text-transform: uppercase"
          font-size="x-large"
          font-weight="bold" font-family="'Arial', serif">
        {{appName}}
      </span>
    </a>
    <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-row">
        <li class="nav-item" active="true">
          <a :href="root + 'srv/about'" class="nav-link">Admin</a>
        </li>
      </ul>
      <div v-if="appData['github']" class="col text-end">
        <a :href="appData.github">
          <i class="bi-github" style="font-size: x-large; color: white"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid bg-groupType">
  <div class="row text-nowrap px-3 pt-1 border-bottom border-secondary">
    <div class="col">
      <div class="row" style="font-size: smaller">
        {{appName}};
        Address {{server.address}};
        Version {{server.version}};
        Build-Age {{readableDuration(elapsedTime(server.buildTime))}}
      </div>
      <div class="row">
        <a v-for="menu in navbar"
          :class="'col-auto border py-1 '
            + (menu.active ? 'bg-primary border-primary text-light'
              : 'bg-light')"
          :href="menu.renderPath"
          :title="menu.desc"
          >
            {{menu.name}}
        </a>
      </div>
    </div>
    <div class="col-auto">
      <a class="row text-nowrap" :href="updateUrl({refresh: null})">{{now}}</a>
      <a class="row justify-content-end text-nowrap" :href="getRefreshUrl()">
        {{
        'Refresh ('
          + (getParam('refresh') ? 'seconds: ' + getParam('refresh') : 'None')
          + ')'
        }}
      </a>
    </div>
  </div>
  <template v-if="miniNav().length > 0">
    <div class='row mb-3 border-bottom border-primary bg-light'>
      <template v-for='(nav, index) in miniNav()'>
        <div v-if='nav.disabled'
            class='col-auto border-start border-end
              text-decoration-line-through'>
          {{nav.name}}
        </div>
        <a v-else-if='nav.name == miniNavSelected'
            class='col-auto border-start border-end fw-bolder'
            :href='nav.href'>
          {{nav.name}}
        </a>
        <a v-else
            class='col-auto border-start border-end'
            :href='nav.href'>{{nav.name}}</a>
      </template>
    </div>
  </template>
</div>
