<!--
Copyright Glen Knowles 2022 - 2024.
Distributed under the Boost Software License, Version 1.0.

navtop.html - dimapp webapp
-->
<nav class="navbar navbar-expand-sm stick-top bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bolder" href="/">
      <span style="text-transform: uppercase"
          font-size="x-large"
          font-weight="bold" font-family="'Arial', serif">
        {{appName}}
      </span>
    </a>
    <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-row">
        <template v-for="item in navTop()">
          <li class="nav-item">
            <a v-if="item.href" :class="'nav-link'
                    + (item.name == navTopSelected ? ' active' : '')"
                :href="root + 'web/' + item.href">
              {{item.name}}
            </a>
            <a v-else :class="'nav-link'
                + (item.name == navTopSelected ? ' active' : '')">
              {{item.name}}
            </a>
          </li>
        </template>
      </ul>
      <div class="col text-end">
        <a :href="sourceHost">
          <i class="bi-github" style="font-size: x-large; color: white"></i>
        </a>
       </div>
    </div>
  </div>
</nav>
